// copy this file to config/config.js after filling it out

module.exports = {
  user: {
    email: "PLACE YOUR BOT EMAIL HERE",
    password: "PLACE YOUR BOT PASSWORD HERE"
  },
  modChannelName: "PLACE MOD CHANNEL NAME FOR MESSAGES HERE FOR MODCALL",
  banWarningLogChannel: "PLACE MOD CHANNEL OF BANNING",
  entryChannel: "ENTRY CHANNEL FOR SERVER"
}
